<h1>Show Category</h1>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @category.image %>
</p>

<%= link_to '<button type="button">Edit</button>' .html_safe, edit_item_path(@category) %>
<%= link_to '<button type="button">Items Home</button>' .html_safe, categories_path %>
