/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 4, /Users/Spoonflower/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.1/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, /Users/Spoonflower/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/neat-1.7.1/app/assets/stylesheets/grid/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* line 5, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/welcome.scss */
.accordion-tabs-minimal {
  line-height: 1.5;
  padding: 0;
}
/* line 9, /Users/Spoonflower/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bourbon-4.1.1/app/assets/stylesheets/addons/_clearfix.scss */
.accordion-tabs-minimal::after {
  clear: both;
  content: "";
  display: table;
}
/* line 29, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/welcome.scss */
.accordion-tabs-minimal li.tab-header-and-content {
  list-style: none;
}
@media screen and (min-width: 40em) {
  /* line 29, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/welcome.scss */
  .accordion-tabs-minimal li.tab-header-and-content {
    display: inline;
  }
}
/* line 37, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/welcome.scss */
.accordion-tabs-minimal a.tab-link {
  background-color: white;
  border-top: 1px solid gainsboro;
  color: #333;
  display: block;
  font-family: "Varela Round", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  padding: 0.75em 1.618em;
  text-decoration: none;
  margin-bottom: 1px;
}
@media screen and (min-width: 40em) {
  /* line 37, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/welcome.scss */
  .accordion-tabs-minimal a.tab-link {
    display: inline-block;
    border-top: 0;
  }
}
/* line 53, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/welcome.scss */
.accordion-tabs-minimal a.tab-link:hover {
  color: #E4BB94;
}
/* line 57, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/welcome.scss */
.accordion-tabs-minimal a.tab-link:focus {
  outline: none;
}
/* line 61, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/welcome.scss */
.accordion-tabs-minimal a.tab-link.is-active {
  border-bottom: 0;
}
@media screen and (min-width: 40em) {
  /* line 61, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/welcome.scss */
  .accordion-tabs-minimal a.tab-link.is-active {
    border: 1px solid gainsboro;
    border-bottom-color: white;
    margin-bottom: -1px;
  }
}
/* line 72, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/welcome.scss */
.accordion-tabs-minimal .tab-content {
  display: none;
  padding: 1.5em 1.618em;
  width: 100%;
}
@media screen and (min-width: 40em) {
  /* line 72, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/welcome.scss */
  .accordion-tabs-minimal .tab-content {
    border-top: 1px solid gainsboro;
    float: left;
  }
}

/* line 4, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/items.scss */
td {
  padding: 10px;
}

/* line 23, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
body {
  font-family: 'Nunito';
}
/* line 25, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
body a {
  text-decoration: none;
  color: #333;
  font-family: 'Varela Round';
}

/* line 31, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
article.type-system-rounded {
  text-align: left;
}
/* line 44, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
article.type-system-rounded h1, article.type-system-rounded h2, article.type-system-rounded h3, article.type-system-rounded p {
  margin: 0;
}
/* line 48, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
article.type-system-rounded hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0;
}
/* line 56, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
article.type-system-rounded p {
  color: #333;
  line-height: 1.5em;
}
/* line 61, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
article.type-system-rounded a {
  color: #6E6752;
  text-decoration: none;
}
/* line 9, /Users/Spoonflower/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bourbon-4.1.1/app/assets/stylesheets/addons/_clearfix.scss */
article.type-system-rounded::after {
  clear: both;
  content: "";
  display: table;
}
/* line 74, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
article.type-system-rounded .type {
  border-bottom: 1px solid;
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-size: 0.7em;
  font-weight: 800;
  margin-bottom: 2em;
  padding: 0.3em 0;
  text-align: left;
  text-transform: uppercase;
}
/* line 86, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
article.type-system-rounded h1 {
  font-family: "Varela Round", sans-serif;
  font-size: 1.8em;
  margin-bottom: 0.5em;
}
@media screen and (min-width: 40em) {
  /* line 86, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
  article.type-system-rounded h1 {
    font-size: 2.4em;
  }
}
/* line 96, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
article.type-system-rounded h2 {
  font-family: "Varela Round", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.4em;
  margin-bottom: 0.9em;
}
@media screen and (min-width: 40em) {
  /* line 96, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
  article.type-system-rounded h2 {
    font-size: 1.4em;
  }
}
/* line 108, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
article.type-system-rounded code {
  background: #F7F7F7;
  border-radius: 4.5px;
  border: 1px solid #E0E0E0;
  font-family: monaco;
  font-size: 0.7em;
  font-style: normal;
  padding: 0.1em 0.4em;
  white-space: nowrap;
}
/* line 120, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
article.type-system-rounded h3 {
  font-family: "Varela Round", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 0.4em;
}
/* line 128, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
article.type-system-rounded p.date {
  color: rgba(51, 51, 51, 0.4);
  font-family: "Nunito", sans-serif;
  font-size: 0.9em;
  margin-bottom: 0.3em;
}
/* line 135, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
article.type-system-rounded p {
  font-family: "Nunito", sans-serif;
  font-size: 1.05em;
  font-weight: 300;
  line-height: 1.4em;
  margin-bottom: 1.5em;
}
/* line 142, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
article.type-system-rounded p span {
  font-family: "Varela Round", sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
}
/* line 149, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
article.type-system-rounded a.read-more {
  display: inline-block;
  font-family: "Varela Round", sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  margin-left: 0.2em;
  position: relative;
  text-transform: uppercase;
}
/* line 158, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
article.type-system-rounded a.read-more span {
  font-size: 1.5em;
  position: absolute;
  right: -12px;
  top: -1px;
}
/* line 166, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
article.type-system-rounded hr {
  width: 3em;
}
/* line 170, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
article.type-system-rounded p.author {
  font-family: "Nunito", sans-serif;
}

/* line 175, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
.side-image {
  background: #F9F9F9;
}
/* line 186, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
.side-image p {
  color: #333;
  line-height: 1.5em;
}
@media screen and (min-width: 53.75em) {
  /* line 175, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
  .side-image {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
}
/* line 204, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
.side-image .images-wrapper {
  background: url(/assets/frolic-f9502282bf2ae68ab272b3f815752bb9.jpg), -webkit-linear-gradient(#6E6752, #6E6752), no-repeat #6E6752 scroll;
  background: url(/assets/frolic-f9502282bf2ae68ab272b3f815752bb9.jpg), linear-gradient(#6E6752, #6E6752), no-repeat #6E6752 scroll;
  background-color: #6E6752;
  background-size: cover;
  border-bottom: 1px solid rgba(22, 21, 17, 0.2);
  display: block;
  min-height: 12em;
  padding: 3em;
}
@media screen and (min-width: 53.75em) {
  /* line 204, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
  .side-image .images-wrapper {
    display: table-cell;
    width: 16.66667%;
    background-position: bottom;
    background-size: cover;
    border-right: 1px solid rgba(22, 21, 17, 0.2);
  }
}
/* line 222, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
.side-image .side-image-content {
  display: table-cell;
  width: 100%;
  padding: 1em 1em 4em 1em;
}
@media screen and (min-width: 53.75em) {
  /* line 222, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
  .side-image .side-image-content {
    display: table-cell;
    width: 66.66667%;
    padding: 4em 4em 8em 4em;
  }
}
/* line 231, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
.side-image .side-image-content h1 {
  font-size: 3em;
  margin-bottom: 0.9em;
}
/* line 236, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
.side-image .side-image-content h4 {
  background: #BBB;
  color: white;
  display: inline-block;
  font-size: 0.75em;
  font-weight: 800;
  margin-bottom: 1.3em;
  padding: 3px 8px;
  text-transform: uppercase;
}
/* line 247, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
.side-image .side-image-content p {
  color: gray;
  margin-bottom: 3em;
}
/* line 252, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
.side-image .side-image-content button {
  background-color: #6E6752;
  border-radius: 3px;
  border: none;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  padding: 7px 18px;
  text-decoration: none;
  background-clip: padding-box;
  padding: 0.7em 1em;
}
/* line 351, /Users/Spoonflower/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bourbon-4.1.1/app/assets/stylesheets/_bourbon-deprecated-upcoming.scss */
.side-image .side-image-content button:hover:not(:disabled) {
  background-color: #817759;
  cursor: pointer;
}
/* line 362, /Users/Spoonflower/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bourbon-4.1.1/app/assets/stylesheets/_bourbon-deprecated-upcoming.scss */
.side-image .side-image-content button:active:not(:disabled), .side-image .side-image-content button:focus:not(:disabled) {
  background-color: #5c584a;
  cursor: pointer;
}
/* line 59, /Users/Spoonflower/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bourbon-4.1.1/app/assets/stylesheets/_bourbon-deprecated-upcoming.scss */
.side-image .side-image-content button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* line 264, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
.grid-items-lines {
  position: relative;
}
/* line 273, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
.grid-items-lines p {
  line-height: 1.5em;
}
/* line 277, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
.grid-items-lines a {
  text-decoration: none;
}
/* line 281, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
.grid-items-lines th {
  font-style: italic;
}
/* line 9, /Users/Spoonflower/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bourbon-4.1.1/app/assets/stylesheets/addons/_clearfix.scss */
.grid-items-lines::after {
  clear: both;
  content: "";
  display: table;
}
/* line 297, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
.grid-items-lines .grid-item {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: white;
  border-right: 1px solid rgba(51, 51, 51, 0.2);
  float: left;
  height: 14em;
  overflow: hidden;
  outline: none;
  padding: 2em;
  width: 100%;
}
@media screen and (min-width: 53.75em) {
  /* line 297, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
  .grid-items-lines .grid-item {
    width: 33.33333%;
  }
}
/* line 314, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
.grid-items-lines .grid-item img {
  display: block;
  height: 10em;
  margin-bottom: 1.2em;
}
/* line 322, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
.grid-items-lines .grid-item h1 {
  color: #333;
  font-size: 1.3em;
  margin-bottom: 0.4em;
}
/* line 328, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
.grid-items-lines .grid-item p {
  color: rgba(51, 51, 51, 0.6);
}
@media screen and (min-width: 40em) {
  /* line 328, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
  .grid-items-lines .grid-item p {
    max-width: 70%;
  }
}
/* line 336, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
.grid-items-lines .grid-item-big {
  border-right: none;
}
@media screen and (min-width: 53.75em) {
  /* line 336, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
  .grid-items-lines .grid-item-big {
    width: 66.66667%;
  }
}
@media screen and (min-width: 40em) {
  /* line 341, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
  .grid-items-lines .grid-item-big p {
    max-width: 60%;
  }
}
/* line 349, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
.grid-items-lines .bottom-cover {
  background: white;
  bottom: 0px;
  height: 3px;
  position: absolute;
  width: 100%;
}
/* line 357, /Users/Spoonflower/ironYard/menu/app/assets/stylesheets/application.css.scss */
.grid-items-lines .right-cover {
  background: white;
  height: 100%;
  position: absolute;
  right: 0px;
  width: 4px;
}
