<h1>Welcome to the PK lounge</h1>


<h2>CHECK OUT OUR ROTATING MENU(by you) BELOW!!</h2>
<br>
<%= button_to 'Click here', items_path, :method => "get" %></h2>
</br>
<h3>
  <%= image_tag "http://thebiggestnews.com/wp-content/uploads/2014/09/POINTING-UP.jpg" %>
</h3>

<div class = "home">

</div>
