/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

 @import 'bourbon';
 @import 'neat';


table {
      @include box-sizing(relative);
      @include padding(10vh 5em 6px 2em);
      .first-page {
        @include outer-container;
        .second-page { @include span-columns(8); }
        article { @include span-columns(4); }
                                        }

          img {
            width: 100px;
          }
                                        }

body {
      font-family: "body font", arial;
      text-align :center;
      // border-style :groove;
      // border-color :darkgrey;
      // border-size :500px;
      @include background-image(url("http://www.jillsbistro.com/files/QuickSiteImages/QS_1253h0001.jpg"), linear-gradient(white 0, yellow 50%, transparent 50%));
      background-size: 830px 700px;
      }


h1, h2, h3 {
      font-family: "header fonts", sans-serif;
      text-align :center;
      color :darkred;

      }

th {
    font-size :24px;
    font-family: "table header fonts", georgia;
    color :black;
    font-style :italic;
    }

td {
    
    @include font-feature-settings("liga");
    font-size :18px;
    font-style :bold;

    }

p {
  text-align :center;
  }



// h3 {.hero {
//   ///////////////////////////////////////////////////////////////////////////////////
//   $base-border-radius: 3px !default;
//   $base-accent-color: #477DCA !default;
//   $large-screen: em(860) !default;
//   //////////////////////////////////////////////////////////////////////////////////
//
//   $hero-background-top: #7F99BE;
//   $hero-background-bottom: #20392B;
//   $hero-color: white;
//   $gradient-angle: 10deg;
//   $hero-image: 'https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png';
//
//   @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
//   background-color: #324766;
//   background-position: top;
//   background-repeat: no-repeat;
//   background-size: cover;
//   padding-bottom: 3em;
//
//   .hero-logo img {
//     height: 4em;
//     margin-bottom: 1em;
//   }
//
//   .hero-inner {
//     @include outer-container;
//     @include clearfix;
//     color: $hero-color;
//     margin: auto;
//     padding: 3.5em;
//     text-align: center;
//
//     .hero-copy {
//       text-align: center;
//
//       h1 {
//         font-size: 1.6em;
//         margin-bottom: 0.5em;
//
//         @include media($large-screen) {
//           font-size: 1.8em;
//         }
//       }
//
//       p {
//         font-weight: 200;
//         line-height: 1.4em;
//         margin: 0 auto 3em auto;
//
//         @include media($large-screen) {
//           font-size: 1.1em;
//           max-width: 40%;
//         }
//       }
//     }
//
//     button {
//       @include button(flat, $base-accent-color);
//       padding: 0.7em 1em;
//     }
//   }
// }
// }
