 @import 'bourbon';
 @import 'base/base';
 @import 'neat';

 div, image {
 }

 h1 {
   font-size: 40px;
   border-bottom-style: solid;
   @include radial-gradient(#ccc, #ccc);
   @include radial-gradient(#ccc, #ccc, $fallback: red);
   @include radial-gradient(circle at 50% 50%, #eee 10%, #ccc 30%, #aaa);
 }

 section {
   text-align: center;
   @include outer-container;
   aside { @include span-columns(6); }
   article { @include span-columns(6); }
 }

 body {
   text-align: center;
   font-family: sans-serif;

   @include background(linear-gradient(gray, #ccc) left repeat);
   @include background(linear-gradient(gray, #ccc) left repeat, radial-gradient(gray, #ccc) left repeat);
   @include background(url("/images/a.png"), linear-gradient(gray, #ccc), center no-repeat gray scroll);
 }

 .food-name {
   font-size: 20px;
   font-weight: bold;
   margin-top: 20px;
 }

 .food-description {
   margin-bottom: 20px;
 }

 ul {
   list-style-type: none;
 }

 td {
   align: left;
 }

 .cat-name {
   font-size: 30px;
   border-bottom-style: solid;
   @include radial-gradient(#ccc, #ccc);
   @include radial-gradient(#ccc, #ccc, $fallback: red);
   @include radial-gradient(circle at 50% 50%, #eee 10%, #ccc 30%, #aaa);
 }
