/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_self
 */
 @import "bourbon";
 @import "neat";
 @import "welcome";
 @import "items";


 @import url('http://fonts.googleapis.com/css?family=Nunito:400,700,300');
 @import url('http://fonts.googleapis.com/css?family=Varela+Round');

 body {
   font-family: 'Nunito';
   a {
     text-decoration: none;
     color: #333;
     font-family: 'Varela Round';
   }
 }
 article.type-system-rounded {

   ///////////////////////////////////////////////////////////////////////////////////
   $base-border-radius: 3px !default;
   $base-line-height: 1.5em !default;
   $base-spacing: 1.5em !default;
   $base-accent-color: #6E6752 !default;
   $base-link-color: $base-accent-color !default;
   $dark-gray: #333 !default;
   $light-gray: #DDD !default;
   $medium-screen: em(640) !default;
   $base-font-color: $dark-gray !default;

   h1, h2, h3, p {
     margin: 0;
   }

   hr {
     border-bottom: 1px solid $light-gray;
     border-left: none;
     border-right: none;
     border-top: none;
     margin: $base-spacing 0;
   }

   p {
     color: $base-font-color;
     line-height: $base-line-height;
   }

   a {
     color: $base-link-color;
     text-decoration: none;
   }

   //////////////////////////////////////////////////////////////////////////////////

   $sans-serif: 'Nunito', sans-serif;
   $sans-serif-2: 'Varela Round', sans-serif;

   @include clearfix;
   text-align: left;

   .type {
     border-bottom: 1px solid;
     display: inline-block;
     font-family: $sans-serif;
     font-size: 0.7em;
     font-weight: 800;
     margin-bottom: 2em;
     padding: 0.3em 0;
     text-align: left;
     text-transform: uppercase;
   }

   h1 {
     font-family: $sans-serif-2;
     font-size: 1.8em;
     margin-bottom: 0.5em;

     @include media($medium-screen) {
       font-size: 2.4em;
     }
   }

   h2 {
     font-family: $sans-serif-2;
     font-size: 1.2em;
     font-weight: 400;
     line-height: 1.4em;
     margin-bottom: 0.9em;

     @include media($medium-screen) {
       font-size: 1.4em;
     }
   }

   code {
     background: #F7F7F7;
     border-radius: $base-border-radius * 1.5;
     border: 1px solid #E0E0E0;
     font-family: monaco;
     font-size: 0.7em;
     font-style: normal;
     padding: 0.1em 0.4em;
     white-space: nowrap;
   }


   h3 {
     font-family: $sans-serif-2;
     font-size: 1.2em;
     font-weight: 400;
     line-height: 1.3em;
     margin-bottom: 0.4em;
   }

   p.date {
     color: transparentize($base-font-color, 0.6);
     font-family: $sans-serif;
     font-size: 0.9em;
     margin-bottom: 0.3em;
   }

   p {
     font-family: $sans-serif;
     font-size: 1.05em;
     font-weight: 300;
     line-height: 1.4em;
     margin-bottom: 1.5em;

     span {
       font-family: $sans-serif-2;
       font-size: 0.8em;
       text-transform: uppercase;
     }
   }

   a.read-more {
     display: inline-block;
     font-family: $sans-serif-2;
     font-size: 0.8em;
     font-weight: 700;
     margin-left: 0.2em;
     position: relative;
     text-transform: uppercase;

     span {
       font-size: 1.5em;
       position: absolute;
       right: -12px;
       top: -1px;
     }
   }

   hr {
     width: 3em;
   }

   p.author {
     font-family: $sans-serif;
   }
 }
// potato
.side-image {
  ///////////////////////////////////////////////////////////////////////////////////

  $base-line-height: 1.5em !default;
  $base-accent-color: #6E6752 !default;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;


  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $side-image-background-top: #6E6752 ;
  $side-image-background-bottom: #6E6752 ;
  $side-image-content-background: #F9F9F9;
  $side-image-border: 1px solid darken(transparentize($side-image-background-bottom, 0.8), 30%);


  background: $side-image-content-background;

  @include media($large-screen) {
    @include row(table);
  }

  .images-wrapper {
    @include background(image-url('frolic.jpg'), linear-gradient($side-image-background-top, $side-image-background-bottom), no-repeat $side-image-background-top scroll);
    background-color: $side-image-background-top;
    background-size: cover;
    border-bottom: $side-image-border;
    display: block;
    min-height: 12em;
    padding: 3em;


    @include media($large-screen) {
      @include span-columns(2);
      background-position: bottom;
      background-size: cover;
      border-right: $side-image-border;
    }
  }

  .side-image-content {
    @include span-columns(12);
    padding: 1em 1em 4em 1em;

    @include media($large-screen) {
      @include span-columns(8);
      padding: 4em 4em 8em 4em;
    }

    h1 {
      font-size:3em;
      margin-bottom: 0.9em;
    }

    h4 {
      background: #BBB;
      color: white;
      display: inline-block;
      font-size: 0.75em;
      font-weight: 800;
      margin-bottom: 1.3em;
      padding: 3px 8px;
      text-transform: uppercase;
    }

    p {
      color: gray;
      margin-bottom: 3em;
    }

    button {
      @include button(flat, $base-accent-color);
      padding: 0.7em 1em;
    }
  }

  @include reset-display();
}
@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items-lines {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;

  p {
    line-height: 1.5em;
  }

  a {
    text-decoration: none;
  }

  th {
    font-style: italic;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $grid-items-background: $base-background-color;
  $grid-item-background: $base-background-color;
  $grid-item-border: 1px solid transparentize($base-font-color, 0.8);
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: $base-font-color;
  $grid-item-height: 14em;

  @include clearfix;
  position: relative;

  .grid-item {
    @include transition (all 0.2s ease-in-out);
    background: $grid-item-background;
    border-right: $grid-item-border;
    float: left;
    height: $grid-item-height;
    overflow: hidden;
    outline: none;
    padding: 2em;
    width: 100%;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

  }

  .grid-item img {
    display: block;
    height: 10em;
    margin-bottom: 1.2em;


  }

  .grid-item h1 {
    color: $grid-item-color;
    font-size: 1.3em;
    margin-bottom: 0.4em;
  }

  .grid-item p {
    color: transparentize($grid-item-color, 0.4);

    @include media($medium-screen) {
      max-width: 70%;
    }
  }

  .grid-item-big {
    border-right:none;
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
    p {
      @include media($medium-screen) {
        max-width: 60%;
      }
    }
  }

  // this, below, might not be the most beautiful solution but it removes the outer borders by using the background color.
  .bottom-cover {
    background: $grid-items-background;
    bottom: 0px;
    height: 3px;
    position: absolute;
    width: 100%;
  }

  .right-cover {
    background: $grid-items-background;
    height: 100%;
    position: absolute;
    right: 0px;
    width: 4px;
  }
}
