<h1></h1>

<h2>Menu</h2>


<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Item Name</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>

    <% @items.each do |item| %>
    <tr>
      <td><%= item.category.category_name %></td>
      <td><%= item.item_name %></td>
      <td><%= item.description %></td>
      <td><%= item.price %></td>
    </tr>
    <% end %>

  </tbody>
</table>
